<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                TODO API
            </a>
        </div>
        <div class="pull-right">
            <a href="/login"><button class="btn btn-primary">Login</button></a>
            <a href="/sign-up"><button class="btn btn-primary">Signup</button></a>
        </div>
    </div>
</nav>